* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator table, tbody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

tr {
  display: flex;
}

td {
  width: 100%;
}

table, td {
  border: 1px solid grey;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: #858694;
  color: white;
}

thead tr td {
  text-align: right;
  font-size: 8rem;
  font-weight: 600;
}

tbody tr {
  line-height: 2.3;
}

tbody tr td {
  background-color: #e0e0e0;
  text-align: center;
  font-size: 3rem;
}

tbody tr td:last-child {
  background-color: #f5923e;
}
.spn {
  width: 50%;
}

#highlight {
  background-color: blanchedalmond;
}

